

<div class="attraction">
    {{#each this}}
        <h3 class="linkLike">{{name}} <span class="smallText">({{type}})</span></h3>
        <p class="isHidden">{{description}}</p>
        {{#if times}}
        	<p class="isHidden">{{times}}</p>
        {{else}}
        	<p class="isHidden">{{hours}}</p>
        {{/if}}
    {{/each}}
</div>